body{
	position: relative;
	background-color: #9C9C9C;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin: 0 0 0 0;
	height: 100%;
	width: 100%;
	background-image: url("images/background-main.jpg");
	font-family: Arial,sans-serif;
}

#footerTotal{
	position: relative;
	top: 45%;
	left: 77%;
	font-weight: bold;

}

main{
	border-style: solid;
	border-color: red;
	border-width: 0;
	height: 100vh;
	width: 100%;
}
#header{
	position: relative;
	width: 100%;
	height: 18%;
	
	/*margin-left: auto;
	margin-right: auto; */
	background-color: white;
	box-shadow: 3px 1px 300px white;
	border-radius: 10px;
	opacity: 0.95;
}
img{

	max-width: 100%;
	width: 35%;
	max-height: 85%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}
h3{
	
	position: absolute;
	margin-top: 1%;
	top: 0.5%;
	border-bottom-style: solid;
	border-width: 1px;
	width: 98%;
	left: 10px;
}
#table-cliente{
	position: relative;
	left: 80%;
}
.head-client{
	border-width: 1px 1px 1px 1px;
}

#info{
	font-size: 25px;
	border-width: 0 0 1px 0;
	width: 65%;
	color: white;
}
#formulario{
	position: relative;
	height: 120px;
	width: 950px;
	max-width: 80%;
	max-height: 150%;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#table{
	position: relative;
	top: 30%;
	left: 1%;
}

th{
	text-align: left;
}
#table,.th,.td{
    border-collapse:collapse;
    font-family: Arial,sans-serif;
    font-size: 12px;
	border-color: blue;
	border-style: solid;
	border-width: 1px;		
}
#table{
	border-width: 4px;
}
table,th{
    border-collapse:collapse;
    font-family: Arial,sans-serif;
    font-size: 12px;
	border-color: blue;
	border-style: solid;
	border-width: 1px 0 1px 0;		
}
th, tr,td{
	background-color: white;
}
input{
	text-align: center;
}
input.noBorder{ 
	border-width: 0px;
	padding: 3px;
	border:solid transparent;

	}
.noBorder:FOCUS{ 
	background-color: #C0D9D9;
}
#formulario #button{
	position: absolute;
	top: 100%;
	/*left: 70%;	*/
	right: 0%;
}



#orcamento{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-color: blue;
	/*width: 900px;*/
	height: 1400px;
	width: 70%;
	/*height: 10%;*/

}

#border{
	top: 2%;

	position: relative;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;	
	width: 94%;
	/*height: 96%;*/
	height: 80%;
	border-width: 1.3px;
}

#cabecalho{
	position: relative;
	top: 2%;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 1px;
	width: 94%;
	height: 18%;
}

#eletro{
	position: absolute;
	color: #1C1C1C;
	margin: 0 0 0 0;
	/*border-style: solid;*/
	top: 10px;
	width: 30%;
	left: 2%;
	font-size: 60px;
	top: 15%;
}

#seg{
	position: absolute;
	top: 39%;
	left: 17%;
	color: #008B45;
	border-style: solid;
	border-width: 0px 2px 2px 2px;
	width: 18%;
	/*height: 24%;*/
	font-size: 55px;
	margin: 0 0 0 0;
}
.contato, #instagram{
	width: 38%;
	top: 2%;
	position: relative;
	left: 43%;
	font-size: 16px;
	font-weight: bold;
	}
#cnpj{
	width: 38%;
	top: 13%;
	position: relative;
	left: 7%;
	font-size: 16px;
	font-weight: bold;
	}
#email{

	width: 38%;
	top: 80%;
	position: absolute;
	left: 72%;
	font-size: 16px;
	font-weight: bold;
	
}
#data{
	width: 25%;
	top: 20%;
	text-align: center;
	position: absolute;
	left: 75%;
	font-size: 16px;
	font-weight: bold;

}

	#face{
		width: 45%;
	}
	#title{
		position: relative;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		color: #363636;
		top:4%;
		font-size: 38px;
	}
	#nome-cliente{
		position: absolute;
		left: 4%;
		top: 28%;
		font-size: 16px;
		color: black;
	}
#subtitle{
		position: relative;
		width: 55%;
		left: 4%;
		top: 5%;
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: #6E7B8B;
		color: #696969;
		font-size: 27px;
}
	#area-itens{
		position: absolute;
		border-style: solid;
		width: 90%;
		left: 5%;
		top: 38%;
	}
	#footer{
		position: absolute;
		color: red;
		width: 60%;
		left: 4%;
		top: 80%;
		font-weight: bold;
		font-size: 18px;
	}
	

.head{
	height: 21px;
	background-color: #4169E1;
	opacity: 0.89;
	text-align: center;	
	font-size: 12px;
}
.container-item{
	height: 18px;
}
.item{
	width: 5%;
	text-align: center;
	font-size: 12px;
}


@media (max-width: 400px){

	#header{
		width: 100%;
		height: 20%;
		background-color: white;
		border-radius: 0;
	}
	#table-cliente{
		position: relative;
		left: 0;
		width: 90%;
		border:solid 1px;
	}

	#table-cliente input{
		width: 97%;
	}
	#info{
	position: relative;
	font-size: 15px;
	width: 90%;
	top: 10%;
	left: 0%;
	}

	#button{
		position: absolute;
		left: 0;
		width:100%;
		
	}
	button{
		width: 30%;
		font-size: 10px;
		
	}
	#table{
		position: relative;
		top: 50%;
		color: red;
		width: 90%;
		height: 30px;
	}
	#table input{
		width: 80%;
	}
	#orcamento{
		position: relative;
		top:500px;
		width: 100%;
		height: 1350px;
	}
	#cabecalho{
		position: relative;
		top: 1%;
		width: 95%;
		height: 10%;
	}

	#orcamento .contato,#email, #cnpj,#instagram{
		font-size: 9px;
		width: 40%;
		/*border:solid 1px;*/

	}
	.contato{
		top: 20%;
		position: relative;
		left: 40%;

	}
	#cnpj{
		position: absolute;
		left: 1%;
		top: 80%;
	}
	#instagram{
		font-size: 9px;
		font-weight: bold;
		position: absolute;
		top: 60%;
		left: 1%;
		width: 35%;
		height: 10%;
		/*border:solid;*/
	}
	#email{
		position: absolute;
		width: 45%;
		left: 40%;
		top: 80%;
		/*border-style: solid;*/
		/*border-width: 1px;*/
	}
	#data{
		position: absolute;
		top: 0%;
		left: 78%;
		font-size: 8px;
		width: 20%;
		/*border:solid 1px;*/
	}
	#tel{
		position: relative;
		top: 30%;
		margin-bottom: 5%;
	}
	
	#eletro{
		position: absolute;
		top: 0;
		font-size: 2em;
	}
	#seg{
		position: absolute;
		left: 8%;
		top: 29%;
		font-size: 1.5em;
		width: 23%;
	}
	#title{
		position: relative;
		top: 1%;
		font-size: 1.5em;
	}
	#subtitle{
		font-size: 1em;
		position: relative;
		top: 2%;
		left: 7%;
		width: 70%;
	}
	#nome-cliente{
		font-size: 0.8em;
		position: relative;
		top: 2%;
		left: 7%;
	}
	#area-itens{
		position: absolute;
		top: 23%;
	}
	#footer{
		position: absolute;
		top: 50%;
		width: 100%;
		font-size: 0.9em;
	}
	#border{
		border:none;
	}
	#face{display: none;}
	#footerTotal{
		top: 25%;
		left: 45%;
	}
}
